@font-face {
	font-family: "KaushanScript";
	font-display: swap;
	src: url("../fonts/KaushanScript-Regular.woff2");
	font-style:normal;
	 font-weight:400;
}

@font-face {
	font-family: "Kosugi";
	font-display: swap;
	src: url("../fonts/Kosugi-Regular.woff2");
	font-style:normal;
	 font-weight:400;
}

@font-face {
	font-family: "Quicksand";
	font-display: swap;
	src: url("../fonts/Quicksand-Bold.woff2");
	font-style:normal;
	 font-weight:700;
}

@font-face {
	font-family: "Quicksand";
	font-display: swap;
	src: url("../fonts/Quicksand-Light.woff2");
	font-style:normal;
	 font-weight:300;
}

@font-face {
	font-family: "Quicksand";
	font-display: swap;
	src: url("../fonts/Quicksand-Medium.woff2");
	font-style:normal;
	 font-weight:500;
}

@font-face {
	font-family: "Quicksand";
	font-display: swap;
	src: url("../fonts/Quicksand-Regular.woff2");
	font-style:normal;
	 font-weight:400;
}

@font-face {
	font-family: "Quicksand";
	font-display: swap;
	src: url("../fonts/Quicksand-SemiBold.woff2");
	font-style:normal;
	 font-weight:600;
}