@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

/* transparent-paint-removebg 1 */
// .strange-bg {
//     box-sizing: border-box;

//     position: absolute;
//     width: 962.61px;
//     height: 973.95px;

//     background: url('transparent-paint-removebg.png');
//     border: 1px solid #000000;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//     transform: matrix(0.8, 0.6, -0.6, 0.8, 0, 0);
// }
.rotate-line {
    border: 21px solid #FF8C42;
    transform: rotate(119.21deg);
}
// .ul-list {
//     transform: rotate(26deg);
// }
// .ul-text {
//     transform: rotate(26deg);
// }
.forms {
    background: rgba(255, 255, 255, 0.05);
    border-width: 3px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 10px;
}
.form-input {
    background: transparent;
    border-bottom: 2px;
    border-style: dotted;
    border-color: white;
    outline: none;
}
