@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

/* transparent-paint-removebg 1 */
// .strange-bg {
//     box-sizing: border-box;

//     position: absolute;
//     width: 962.61px;
//     height: 973.95px;

//     background: url('transparent-paint-removebg.png');
//     border: 1px solid #000000;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//     transform: matrix(0.8, 0.6, -0.6, 0.8, 0, 0);
// }
.rotate-line {
    border: 21px solid #FF8C42;
    transform: rotate(119.21deg);
}
// .ul-list {
//     transform: rotate(26deg);
// }
// .ul-text {
//     transform: rotate(26deg);
// }
.forms {
    border-width: 3px 1px 1px 3px;
    border-style: solid;
    backdrop-filter: blur(1px);
    border-radius: 10px;
}
.form-input {
    background: transparent;
    border-bottom: 2px;
    border-style: dotted;
    outline: none;
}
button{
    transition-duration: .5s;
}
button:hover {
    opacity: .75;
}



.menu-icon-line {
	display: block;
}
.menu-header.active .menu-icon-line {
	display: none;
}
.menu-header.active .menu-icon::before {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 50%;
    top: 63%;
    
}
.menu-header.active .menu-icon::after {
	transform-origin: center;
    transform: translate(-50%, 50%) rotate(-45deg);
    left: 50%;
    top: 50%;
}
.header-animate {
    transform: translateY(-30px);

}

@media (max-width: 768px) {
	.header-on-mobile {
		transition: all ease-in-out .3s;
        position: absolute;
        flex-direction: column;
        gap: 7vh;
        width: 100%;
        height: calc(100vh - 100px);
        z-index: 98876;
        top: 100%;
        left: 0;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        transform: translateX(-120vw);
		text-align: center;
        padding-top: 15vh;
	}
	.header-on-mobile.active {
		height: calc(100vh - 100px);
	}
	.menu-header.active .header-on-mobile {
		transform: translateX(0);
	}
    .header-info.header-animate{
        & .header-on-mobile {
            height:calc(100vh - 70px);
        }
    }
}

a:hover {
    text-decoration: underline;
}
* {
    transition: all ease .1s;
}
